body {
    font-family: 'Roboto', sans-serif;
}
        /* *Navbar* */

.image{
    margin-left: 5%;
}
.navbar-brand{
    display: flex;
    margin-left: 2%;
    font-weight: 700;
}
.navbar-nav{
    display: flex;
    margin-left: 55%;
    font-weight: 700;
}
.nav-item{
    display: flex;
    margin-left: 6%;
}

        /* *Hero* */

.section1{
    height: 572px;
    background-image: url(./images/hero1.jpg);
    background-size: cover;
}
.box{
    position: absolute;
    width: 30%;
    height: 25%;
    background-color: #3559C7;
    left: 70%;
    top: 75%;
}

.head {
    position: absolute;
    left: 15%;
    top: 45%;
    color: #292E3D;
    font-weight: bold;
}

.head1{
    width: 100%;
    margin-top: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}
.btn1{
    margin-left: 1%;
    margin-top: 3%;
    width: 49%;
    padding: 0.3rem;
    color: white;
    background-color: #292E3D;
}
.btn2{
    margin-top: 3%;
    width: 48%;
    padding: 0.3rem;
    color: white;
    background-color: #292E3D;
}

        /* * Our Reputation * */

.head2{
    text-align: center;
    margin-top: 5%;
}
.card{
    margin: 5% 0 5% 6%;
}
.card-img-top{
    width: 15%;
    margin: 6% 0 0 6%;
}

        /* * About * */

.about-img{
    width: 65%;
    height: 50%;
    margin: 5% 0 5% 0;
}
.about-box{
    width: 33%;
    position: absolute;
    top: 180%;
    left: 53%;
    background-color: blue;
}
.about-title{
    margin: 5% 0 5% 5%;
    color: white;
}
.about-text{
    margin: 5% 0 5% 5%;
    color: white;
}

.about-btn{
    margin: 5% 0 8% 5%;
    padding: 0.5rem 1rem;
    background-color: white;
}